<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar-content">
      <a href="/">
        <div class="left-side">
          <h3>GuitWise</h3>
        </div>
      </a>
      <% if user_signed_in? %>
        <div class="right-side">
          <%= render 'shared/searchbar' %>
          <%= link_to "About" ,"#" %>
          <div class="dropdown">
            <div class="avatar-guitwise" style="background-image: url('<%= avatar_url %>');" data-toggle="dropdown"></div>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: "delete" %></li>
            </ul>
          </div>
          <a class="link-green" data-toggle="modal" data-target="#postModal">Post</a>
        </div>
      <% else %>
        <div class="right-side">
          <%= render 'shared/searchbar' %>
          <%= link_to "About" ,"#" %>
          <a data-toggle="modal" data-target="#loginModal">Log in</a>
          <a class="link-green" data-toggle="modal" data-target="#signupModal">Sign up</a>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<%= render 'posts/new' %>
<%= render 'devise/sessions/login' %>
<%= render 'devise/registrations/signup' %>
