<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar-content">
      <a href="/">
        <div class="left-side">
          <h3>GuitWise</h3>
        </div>
      </a>
      <% if user_signed_in? %>
        <div class="right-side">
          <div class="dropdown">
            <div class="avatar-guitwise" style="background-image: url('<%= avatar_url %>');" data-toggle="dropdown"></div>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: "delete" %></li>
            </ul>
          </div>
          <%= link_to "Share", "#", class: "link-green" %>
        </div>
      <% else %>
        <div class="right-side">
          <%= link_to "About" ,"#" %>
          <%= link_to "Login", new_user_session_path %>
          <%= link_to "Sign Up", new_user_registration_path, class: "link-green" %>
        </div>
      <% end -%>
    </div>
  </div>
</div>
