<div class="card-wrapper">
  <div class="post-card-left">
    <div class="post-card-votes">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      <div class="votes-number"><%= post.votes_of %></div>
      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    </div>
    <div class="post-card-answers">
      <h6><%= pluralize post.comments.count, 'Resonse' %></h6>
    </div>
  </div>

  <div class="post-card-middle">
    <div class="post-card-title">
    <h6><%= post.title %></h6>
    </div>
    <div class="post-card-video">
      <iframe width="400" height="225" src="<%= post.video_url %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="post-card-right">

  <div class="post-card-user">
   <div class="post-card-info">
  <div class="post-card-username"><%= post.user.name %></div>
  <div class="post-card-time"><span>Posted</span> <%= time_ago_in_words post.created_at %> <span>ago</span></div>
  </div>
  <%=  image_tag post_avatar_url(post)  %>

  </div>


  </div>
</div>
