<div id="banner">

<%= video_tag "Guitarist.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>

  <div class="banner-flex container">
      <div class="col-xs-12 col-sm-6">
        <div class="banner-message">
          <h3 class="message-1">Ask the community</h3>
          <h3 class="message-2">Share your knowledge</h3>
          <h3 class="message-3">Learn guitar together</h3>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">

      <div class="home-form">
        <% if user_signed_in? %>
          <%= simple_form_for(Post.new) do |f| %>
            <div class="form-inputs">
              <ul class="list-inline">
                <li class="col-xs-10">
                  <%= f.input :title, required: true, autofocus: true, label: false, placeholder: "Ask a question here.", input_html: { class: "active",  id: "input-1"}  %>
                  <%= f.input :video_url, required: true, label: false, placeholder: "Link to youtube or vimeo" , input_html: { class: "hidden", id: "input-2"} %>
                </li>
                <li class="col-xs-2"><%= button_tag "", class: "fa fa-arrow-right first" %></li>
              </ul>


            </div>
            <div class="form-actions">
              <%= f.submit "Ask the community", class: "btn btn-form", class: "hidden" %>
            </div>
          <% end -%>
        <% else %>
          <div class="buttons">
            <a class="btn btn-transparent" data-toggle="modal" data-target="#loginModal">Login</a>
            <a class="btn btn-form" data-toggle="modal" data-target="#signupModal">Sign Up</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="about-second-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="about-card" style= "border-right-style: solid; border-right-width: 1px; border-color: $gray;">
          <div class="about-card-header">
            <h4>Post</h4>
            <i class="fa fa-video-camera" aria-hidden="true"></i>
          </div>
          <div class="about-card-content">
            <p>Post videos with questions about the music you are learning</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="about-card" style= "border-right-style: solid; border-right-width: 1px; border-color: $gray;">
          <div class="about-card-header">
            <h4>Share</h4>
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
          <div class="about-card-content">
            <p>Share your knowledge with a short tutorial</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="about-card">
          <div class="about-card-header">
            <h4>Respond</h4>
            <i class="fa fa-comments" aria-hidden="true"></i>
          </div>
          <div class="about-card-content">
            <p>Respond with videos to give feedback or show your progress</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-wrapper">
<% if current_user && @follow_posts.any? %>
  <% @follow_posts.reverse.each do |post| %>
    <%= render 'shared/post_card', post: post %>
  <% end -%>
<% else %>
  <% @posts.reverse.each do |post|  %>
      <%= render 'shared/post_card', post: post %>
  <% end %>
<% end -%>
</div>

<%= render 'posts/new' %>
<% content_for :after_js do %>
<script>
  $('.form-inputs .fa.first').on('click', function(event) {
    event.preventDefault();
  //   $('.active').addClass('hidden').next().addClass('active').removeClass('hidden');
  // })
    $('.form-inputs .fa').removeClass('first');
    $('#input-1').addClass('hidden');
    $('#input-2').removeClass('hidden');
  });
</script>

<script>
  $(document).ready(function(){
    function messages(){
    $('.message-1').delay(500).fadeIn(2250).fadeOut(2250)
    $('.message-2').delay(5000).fadeIn(2250).fadeOut(2250)
    $('.message-3').delay(9500).fadeIn(2250).fadeOut(2250)
    }
    messages()
    setInterval(messages, 14000);
  });
</script>
<% end %>
