<div id="banner" style="background-image: linear-gradient(-225deg, rgba(27, 29, 29, 1) 0%, rgba(40, 53, 62, 0.6) 80%), url(<%= image_url 'banner.jpg' %>);">

  <div class="banner-flex container">
      <div class="col-xs-12 col-sm-6">
        <div class="banner-message">
          <h1>Welcome to GuitWise</h1>
          <h6>GuitWise is an online learning community where guitarists can use videos to share their practice, benefit from the knowledge of others, and ultimately become better musicians.</h6>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">

      <div class="home-form">
        <% if user_signed_in? %>
          <%= simple_form_for(Post.new) do |f| %>
            <div class="form-inputs home-form-1 show">
              <ul class="list-inline">
                <li class="col-xs-10">
                  <%= f.input :title, required: true, autofocus: true, label: false, placeholder: "Ask a question here.", input_html: {}  %>
                </li>
                <li class="col-xs-2"><%= image_tag "", class: "fa fa-arrow-right" %></li>
              </ul>
            </div>
            <div class="form-inputs home-form-2 hidden">
              <ul class="list-inline">
                <li class="col-xs-10"><%= f.input :video_url, required: true, label: false, placeholder: "Link to youtube or vimeo" , input_html: {} %></li>
                <li class="col-xs-2"><%= button_tag "", class: "fa fa-arrow-right" %></li>
              </ul>
            </div>
          <% end -%>
        <% else %>
          <div class="buttons">
            <a class="btn btn-transparent" data-toggle="modal" data-target="#loginModal">Login</a>
            <a class="btn btn-form" data-toggle="modal" data-target="#signupModal">Sign Up</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="about-second-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="about-card" style= "border-right-style: solid; border-right-width: 1px; border-color: $gray;">
          <div class="about-card-header">
            <h4>Post</h4>
            <i class="fa fa-video-camera" aria-hidden="true"></i>
          </div>
          <div class="about-card-content">
            <p>Post videos with questions about the music you are learning</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="about-card" style= "border-right-style: solid; border-right-width: 1px; border-color: $gray;">
          <div class="about-card-header">
            <h4>Share</h4>
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
          <div class="about-card-content">
            <p>Share your knowledge with a short tutorial</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="about-card">
          <div class="about-card-header">
            <h4>Respond</h4>
            <i class="fa fa-comments" aria-hidden="true"></i>
          </div>
          <div class="about-card-content">
            <p>Respond with videos to give feedback or show your progress</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-wrapper">
<% if current_user && @follow_posts.any? %>
  <% @follow_posts.reverse.each do |post| %>
    <%= render 'shared/post_card', post: post %>
  <% end -%>
<% else %>
  <% @posts.reverse.each do |post|  %>
      <%= render 'shared/post_card', post: post %>
  <% end %>
<% end -%>
</div>

<%= render 'posts/new' %>
