<% content_for(:title_tag) do %>
  Ask, Share, Learn with Videos | GuitWise
<% end -%>

<div id="banner">

  <%= video_tag "Guitarist.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
  <div class="banner-message">
    <h3 class="message-1">Learn guitar together</h3>
    <h3 class="message-2">Post a video</h3>
    <h3 class="message-3">Ask the community</h3>
    <h3 class="message-4">Share your knowledge</h3>
  </div>
  <div class="banner-flex container">
      <% if user_signed_in? %>
        <div class="home-form">
          <%= simple_form_for(Post.new) do |f| %>
            <div class="form-inputs home-form-1 show">
              <ul class="list-inline">
                <li class="col-xs-11">
                  <%= f.input :title, required: true, autofocus: true, label: false, placeholder: "Ask a question here.", input_html: {}  %>
                </li>
                <li class="col-xs-1"><%= image_tag "", class: "fa fa-arrow-right" %></li>
              </ul>
            </div>
            <div class="form-inputs home-form-2 hidden">
              <ul class="list-inline">
                <li class="col-xs-11"><%= f.input :video_url, required: true, label: false, placeholder: "Link to youtube or vimeo" , input_html: {} %></li>
                <li class="col-xs-1"><%= button_tag "", class: "fa fa-arrow-right" %></li>
              </ul>
            </div>
          <% end -%>
        </div>
      <% else %>
        <div class="buttons">
          <a class="btn btn-transparent" data-toggle="modal" data-target="#loginModal">Login</a>
          <a class="btn btn-form" data-toggle="modal" data-target="#signupModal">Sign Up</a>
        </div>
      <% end %>
  </div>
</div>

<div class="page-wrapper text-center">
  <div class="tabs">
    <a class="tab <%= 'active' if current_user && @follow_posts.any? %>" data-target="#followed-posts">Following</a>
    <a class="tab <%= 'active' unless current_user && @follow_posts.any? %>" data-target="#all-posts">All</a>
  </div>
    <div id="followed-posts" class="user-sections <%= 'hidden' unless current_user && @follow_posts.any? %>">
      <% unless current_user %>
        <h4>Log in or sign up to easily access guitarists you are a fan of.</h4>
      <% else %>
        <% if @follow_posts.any? %>
          <% @follow_posts.each do |post| %>
            <%= render 'shared/post_card', post: post %>
          <% end -%>
        <% else %>
          <h4>Follow more people to see their videos.</h4>
        <% end -%>
      <% end -%>
    </div>
    <div id="all-posts" class="user-sections <%= 'hidden' if current_user && @follow_posts.any? %>">
      <% @posts.reverse.each do |post|  %>
          <%= render 'shared/post_card', post: post %>
      <% end %>
    </div>
</div>

<%= render 'posts/new' %>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){
      function messages(){
      $('.message-1').delay(496).fadeIn(1688).fadeOut(1688)
      $('.message-2').delay(3872).fadeIn(1688).fadeOut(1688)
      $('.message-3').delay(7248).fadeIn(1688).fadeOut(1688)
      $('.message-4').delay(10624).fadeIn(1688).fadeOut(1688)
      }
      messages()
      setInterval(messages, 14000);
    });
  </script>
<% end %>
