<div id="banner" style="background-image: linear-gradient(-225deg, rgba(27, 29, 29, 0.68) 0%, rgba(40, 53, 62, 0.6) 50%), url(<%= image_url 'banner.jpg' %>);">

<div class="banner-flex container">
    <div class="col-xs-6">
      <div class="banner-message">
        <div id="typedtext"></div>
        <!-- <a class="btn btn-transparent" data-toggle="modal" data-target="#postModal">Get Started</a> -->
      </div>
    </div>

    <div class="col-xs-6">
    <div class="home-form">
      <%= simple_form_for(Post.new) do |f| %>
        <div class="form-inputs">
          <%= f.input :title, required: true, autofocus: true, label: false, placeholder: "What are you going to ask or talk about?" %>
          <%= f.input :video_url, required: true, label: false, placeholder: "www.youtube.com/myvideo"%>
          <%= f.input :content, label: false, placeholder: "Write some more information about your video if you want" %>
          <div class="tags form-group">
            <input type="text" placeholder="Add tags separated by spaces or commas." class="form-control" />
          </div>
          <%= f.input :tag, as: :hidden, label: false %>
        </div>
        <div class="form-actions">
          <%= f.submit "Submit", class: "btn btn-form" %>
        </div>
      </div>
      <% end -%>

    </div>
  </div>
</div>

<div class="page-wrapper">
  <% @posts.reverse.each do |post|  %>
      <%= render 'shared/post_card', post: post %>
  <% end %>
</div>

<%= render 'posts/new' %>
