<div id="banner">

  <%= video_tag "Guitarist.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
  <div class="banner-message">
    <h3 class="message-1">Ask the community</h3>
    <h3 class="message-2">Share your knowledge</h3>
    <h3 class="message-3">Learn guitar together</h3>
  </div>
  <div class="banner-flex container">
    <div class="home-form">
      <% if user_signed_in? %>
        <%= simple_form_for(Post.new) do |f| %>
          <div class="form-inputs home-form-1 show">
            <ul class="list-inline">
              <li class="col-xs-11">
                <%= f.input :title, required: true, autofocus: true, label: false, placeholder: "Ask a question here.", input_html: {}  %>
              </li>
              <li class="col-xs-1"><%= image_tag "", class: "fa fa-arrow-right" %></li>
            </ul>
          </div>
          <div class="form-inputs home-form-2 hidden">
            <ul class="list-inline">
              <li class="col-xs-11"><%= f.input :video_url, required: true, label: false, placeholder: "Link to youtube or vimeo" , input_html: {} %></li>
              <li class="col-xs-1"><%= button_tag "", class: "fa fa-arrow-right" %></li>
            </ul>
          </div>
        <% end -%>
      <% else %>
        <div class="buttons">
          <a class="btn btn-transparent" data-toggle="modal" data-target="#loginModal">Login</a>
          <a class="btn btn-form" data-toggle="modal" data-target="#signupModal">Sign Up</a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="page-wrapper">
<div class="col-sm-offset-2"><h4>Recent Videos</h4></div>
<% if current_user && @follow_posts.any? %>
  <% @follow_posts.reverse.each do |post| %>
    <%= render 'shared/post_card', post: post %>
  <% end -%>
<% else %>
  <% @posts.reverse.each do |post|  %>
      <%= render 'shared/post_card', post: post %>
  <% end %>
<% end -%>
</div>

<%= render 'posts/new' %>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){
      function messages(){
      $('.message-1').delay(500).fadeIn(2250).fadeOut(2250)
      $('.message-2').delay(5000).fadeIn(2250).fadeOut(2250)
      $('.message-3').delay(9500).fadeIn(2250).fadeOut(2250)
      }
      messages()
      setInterval(messages, 14000);
    });
  </script>
<% end %>
