<div class="card-wrapper">
  <div class="post-card-container post-card-container-comment">
    <div class="post-card-left post-card-left-comment">
        <div class="post-card-votes post-card-comment-votes">
        <%= link_to upvote_comment_path(comment), method: :post do %>
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        <% end %>
          <div class="votes-number"><%= comment.votes_of %></div>
        <%= link_to downvote_comment_path(comment), method: :post do %>
          <i class="fa fa-thumbs-down" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>

    <div class="post-card-middle">
      <div class="post-card-video">
        <iframe width="400" height="225" src="<%= comment.video_url %>" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="post-card-title">
       <h6><%= comment.content %></h6>
      </div>
    </div>


    <div class="comment-card-right">
      <a href="<%= user_path(comment.user) %>">
      <div class="post-card-user">
        <div class="post-card-info post-card-info-comment">
          <%= image_tag post_avatar_url(comment) %>
          <div class="post-card-username post-card-username-comment">
            <%= comment.user.name %>
          </div>
          <div class="post-card-time">
            <span>Posted</span> <%= time_ago_in_words comment.created_at %> <span>ago</span>
          </div>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>




