<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-padding">
      <div class="modal-header">
        <h4 style="margin: 0;">New post</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body new-post">
        <%= simple_form_for(Post.new) do |f| %>
          <div class="form-inputs">
            <%= f.input :title, required: true, autofocus: true, label: false, placeholder: "What are you going to ask or talk about?" %>
            <%= f.input :video_url, required: true, label: false, placeholder: "www.youtube.com/myvideo"%>
            <%= f.input :content, label: false, placeholder: "Write some more information about your video if you want" %>
            <div id="tags" class="form-group">
              <input type="text" placeholder="Add tags separated by spaces or commas." class="form-control" />
            </div>
            <%= f.input :tag, as: :hidden, label: false, class: "tags-hidden" %>
          </div>
          <div class="form-actions">
            <%= f.submit "Submit", class: "btn btn-form" %>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
