<div class="show-card-wrapper">
  <div class="show-post-card-container">
    <div class="show-post-card-left">
      <div class="show-post-card-votes">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        <div class="show-votes-number"><%= @post.votes_of %></div>
        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
      </div>
      <div class="show-post-card-user">
        <%= image_tag post_avatar_url(@post) %>
        <div class="show-post-card-info">
          <div class="show-post-card-username"><%= @post.user.name %></div>
          <div class="show-post-card-time"><span>Posted</span> <%= time_ago_in_words @post.created_at %> <span>ago</span></div>
        </div>
      </div>
    </div>

    <div class="show-post-card-middle">
      <div class="show-post-card-title">
        <h4><%= @post.title %></h4>
      </div>
      <div class="show-post-card-video">
        <iframe width="550" height="309" src="<%= @post.video_url %>" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="show-post-card-content">
        <h6><strong> Description </strong></h6>
        <p> <%= @post.content %> </p>
      </div>
    </div>
  </div>
  <%= link_to "", post_path(@post), class:"post-link" %>
</div>
