<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <div class="devise-card card">
      <h2>New Post</h2>

        <div class="form-inputs">
          <%= simple_form_for(@post) do |f| %>
            <%= f.input :title, required: true, autofocus: true, label: false, placeholder: "What are you going to ask or talk about?" %>
            <%= f.input :video_url, required: true, autofocus: true, label: false, placeholder: "www.youtube.com/myvideo"%>
            <%= f.input :content, autofocus: true, label: false, placeholder: "Write some more information about your video if you want" %>
        </div>

        <div class="form-actions">
            <%= f.submit "Submit", class: "btn btn-success" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
